.spinner {
  border: 3px solid var(--dark-light-bg); /* Light grey */
  border-top: 3px solid var(--accent); /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
